@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4" style="margin:20px 0px 20px 0px;">Welcome on board!</h1>
    <h2>
        This website is a project created for the purpose of portfolio.
        For now, there is no real content. 
    </h2>
    <p>
        Web application is made in ASP.NET Core Framework. 
    </p>
    <p>
        Aliquam nec nisl commodo, laoreet turpis non, ullamcorper lacus. Sed consectetur nibh sit amet sapien venenatis, ac dictum risus dignissim. Nam arcu massa, tincidunt nec ipsum non, tincidunt gravida metus. Nam tincidunt condimentum justo, quis aliquam sapien aliquam id. Curabitur varius diam eu magna feugiat pharetra. Donec mollis, velit ac cursus venenatis, diam orci iaculis lorem, et vulputate eros purus a sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed id luctus diam. Donec metus neque, pretium convallis finibus sit amet, ullamcorper nec enim. Duis porta tempor dolor, ac pharetra eros facilisis at. Vivamus blandit ut elit ut luctus. Aenean vel nunc vel magna porttitor lacinia. Proin non interdum tellus, non consequat metus. Mauris et fermentum sapien.
    </p>
</div>


